extends ../components/base/layout

block variables
    - const title = "СН-РУС Сервис"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "company.html"

block main
    main
      +bread-crumbs({
        isStatic: true,
        company: true,
        list: [
            {
                href: "#",
                text: "Главная страница"
            },
            {
                href: "#",
                text: "О нас"
            }
        ]
      })
      +block({
        type: "right",
        title: "О компании",
        list: [
          "Cистемы верхнего привода переменного  и постоянного тока",
          "Буровые насосы и мобильные буровые установки",
          "Запасные части к любому буровому оборудованию"
        ],
        blockValueFirst: "Группа компаний «СН», основанная в 2017 году, является выкосотехнологичным предприятием, прозводящим высококачественные и инновационные  продукты для нефтегазовой отрасли. Собрав многолетний мировой опыт ведущих производителей бурового оборудования предприятие развивает технический сервис и обслуживание клиентов на месте их постоянной дислокации.",
        blockValueSecond: "Производимое оборудование и сервисные услуги охватывают нефтегазодобывающие регионы Китая, такие как: провинции Цзилинь, Сычуань, Ганьсу, Цинхай, Синьцзян. Экспортируются в Южную Америку, Арабские страны, Россию и среднеазиатский регион."
      })
      +block({
        type: "left",
        title: "Миссия компании",
        blockValueFirst: "Создайте самый совершённый и надёжный привод с верхним приводом в мире",
        blockValueSecond: "Придерживаясь корпоративного принципа «избавлять пользователей от забот и приносить пользу сотрудникам», ООО «СН-РУС СЕРВИС» стремится создавать мировых экспертов в области геологоразведочного оборудования! Предлагайте продукты мирового класса для создания максимальной ценности для пользователей!"
      })
      +tech-services()
      +block({
        hasWrapper: true,
        type: "right",
        title: "Глобальная сеть поддержки",
        blockValueFirst: "ООО «СН-РУС СЕРВИС» стремится к созданию глобальной сервисной сети и глобального бренда высококачественных услуг для систем верхнего привода. У нас есть несколько хорошо обученных и опытных инженеров, и мы активно развиваем местную команду инженеров поддержки.",
        blockValueSecond: "Наша компания располагает сервисными центрами и складами запасных частей во многих странах и регионах по всему миру и полагается на логистические услуги мирового класса, обеспечивающие быструю поставку запасных частей, своевременное прибытие персонала и эффективное обслуживание.",
        blockValueThird: "Независимо от того, где вы находитесь, мы предоставим вам наиболее эффективное решение в кратчайшие сроки и с максимальной скоростью.",
        thirdValueBold: true
      })

block modals
