extends ../components/base/layout

block variables
    - const title = "СН-РУС Сервис"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "company.html"

block main
    main
      +block({
        title: "О компании",
        list: [
          "Cистемы верхнего привода переменного  и постоянного тока",
          "Буровые насосы и мобильные буровые установки",
          "Запасные части к любому буровому оборудованию"
        ],
        blockValueFirst: "Группа компаний «СН», основанная в 2017 году, является выкосотехнологичным предприятием, прозводящим высококачественные и инновационные  продукты для нефтегазовой отрасли. Собрав многолетний мировой опыт ведущих производителей бурового оборудования предприятие развивает технический сервис и обслуживание клиентов на месте их постоянной дислокации.",
        blockValueSecond: "Производимое оборудование и сервисные услуги охватывают нефтегазодобывающие регионы Китая, такие как: провинции Цзилинь, Сычуань, Ганьсу, Цинхай, Синьцзян. Экспортируются в Южную Америку, Арабские страны, Россию и среднеазиатский регион."
      })

block modals
