extends ../components/base/layout

block variables
    - const title = "СН-РУС Сервис"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "installations.html"

block main
    main
      +breadcrumbs({
        isStatic: true,
        list: [
            {
                href: "#",
                text: "Главная страница"
            },
            {
                href: "#",
                text: "Мобильные буровые установки"
            }
        ]
      })
      +products({
        type: "Installations",
        isActive: true,
        list: [
            {
                href: "#",
                image: {
                    src: "card",
                    format: "png",
                    width: "162",
                    height: "320",
                    alt: "image"
                },
                title: "DQ-20BSA-CH",
                depth: "4000 м",
                workflow: "2250 кН",
                speed: "1,36 м/с",
                type: "installations"
            },
            {
                href: "#",
                image: {
                    src: "card",
                    format: "png",
                    width: "162",
                    height: "320",
                    alt: "image"
                },
                title: "DQ-20BSA-CH",
                depth: "4000 м",
                workflow: "2250 кН",
                speed: "1,36 м/с",
                type: "installations"
            },
            {
                href: "#",
                image: {
                    src: "card",
                    format: "png",
                    width: "162",
                    height: "320",
                    alt: "image"
                },
                title: "DQ-20BSA-CH",
                depth: "4000 м",
                workflow: "2250 кН",
                speed: "1,36 м/с",
                type: "installations"
            },
            {
                href: "#",
                image: {
                    src: "card",
                    format: "png",
                    width: "162",
                    height: "320",
                    alt: "image"
                },
                title: "DQ-20BSA-CH",
                depth: "4000 м",
                workflow: "2250 кН",
                speed: "1,36 м/с",
                type: "installations"
            },
            {
                href: "#",
                image: {
                    src: "card",
                    format: "png",
                    width: "162",
                    height: "320",
                    alt: "image"
                },
                title: "DQ-20BSA-CH",
                depth: "4000 м",
                workflow: "2250 кН",
                speed: "1,36 м/с",
                type: "installations"
            },
            {
                href: "#",
                image: {
                    src: "card",
                    format: "png",
                    width: "162",
                    height: "320",
                    alt: "image"
                },
                title: "DQ-20BSA-CH",
                depth: "4000 м",
                workflow: "2250 кН",
                speed: "1,36 м/с",
                type: "installations"
            }
        ]
      })

block modals
