extends ../components/base/layout

block variables
    - const title = "СН-РУС Сервис"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "product.html"

block main
    main
        +info({
            title: "Система верхнего привода DQ-20BSA-CH",
            description: "Система верхнего привода грузоподъёмностью 200 тонн с электрическим частотно-регулируемым приводом переменного тока мощностью 35 кВт, с цифровой системой управления предназначена для бурения нефтяных и газовых скважин в составе буровых установок средней и большой глубины бурения",
            list: [
                {
                    image: {
                        path: "content/products",
                        src: "about",
                        format: "png",
                        width: "286",
                        height: "560",
                        alt: "image"
                    }
                },
                {
                    image: {
                        path: "content/products",
                        src: "card",
                        format: "png",
                        width: "286",
                        height: "560",
                        alt: "image"
                    }
                },
                {
                    image: {
                        path: "content/products",
                        src: "card",
                        format: "png",
                        width: "286",
                        height: "560",
                        alt: "image"
                    }
                }
            ]
        })
        +specifications({
            image: {},
            list: [
                {
                    param: "Условная глубина бурения:",
                    value: "7 000 м"
                },
                {
                    param: "Режим привода: ",
                    value: "AC-VCD"
                },
                {
                    param: "Условная грузоподъемность: ",
                    value: "4500 КН",
                },
                {
                    param: "Рабочая высота: ",
                    value: "6,7 м"
                },
                {
                    param: "Крутящий момент при сверлении<br>(непрерывный): ",
                    value: "60 КН. м<br>Передаточное отношение: 10,38"
                },
                {
                    param: "Момент отрыва: ",
                    value: "85 КН. м"
                },
                {
                    param: "Момент статического торможения: ",
                    value: "60 КН. м"
                },
                {
                    param: "Момент сверления (непрерывный): ",
                    value: "0~220 об/мин"
                },
                {
                    param: "Условная частота вращения главного двигателя: ",
                    value: "1200 об/мин"
                },
                {
                    param: 'Запасных клещей: ',
                    value: '2 7/8 " ~5 1/2 "'
                },
                {
                    param: "Номинальное давление в канале циркуляции бурового канала: ",
                    value: "35 МПа"
                },
            ]
        })
        +description({
            descriptionValueFirst: "Системы верхнего привода SLC-JH DQ90BS-JH DQ90BS - это система верхнего привода с электрическим частотно - регулируемым приводом переменного тока, укомплектованная двумя асинхронными электродвигателями с номинальной (непрерывной) мощностью 450 кВт (600 л.с.) каждый.",
            descriptionValueSecond: "Ассортимент СВП SLC-JH для буровых установок включает 21 модель как электрических, так и гидравлических систем верхнего привода, предназначенных для ведения буровых работ на суше и на морском шельфе. Все СВП SLC-JH адаптированы для работы в составе наиболее популярных в России стационарных и мобильных буровых установк российского и иностранного производства."
        })
        +application({
            list: [
                "при бурении многозабойных скважин со сложным профилем типа «фишбон», ",
                "строительстве скважин на шельфе, где длина горизонтального участка превышает 7000 метров  ",
                "разработке месторождений с трудноизвлекаемыми запасами (ТРИЗ) углеводородов (в частности, Ачимовские залежи и Баженовская свита)."
            ],
            applicationValue: "Все новейшие модели СВП SLC-JH соответствуют требованиям перспективных технологий бурения с применением буровых растворов на углеводородной основе (РУО) и роторных управляемых систем (РУС), где необходимо обеспечение высоких оборотов буровой колонны, высокого крутящего момента на этих оборотах и высокого давления бурового раствора. Они применяются:"
        })

block modals