extends ../components/base/layout

block variables
    - const title = "СН-РУС Сервис"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "service.html"

block main
    main
      +breadcrumbs({
        list: [
          {
              href: "#",
              text: "Главная страница"
          },
          {
              href: "#",
              text: "Сервис"
          }
        ]
      })
      +block({
        type: "right",
        title: "Сервисное обслуживание",
        blockValueFirst: "В компании ООО «СН-РУС СЕРВИС» запущено сервисное обслуживание по ремонту и техническому сопровождению буровых систем верхнего привода (СВП) в нефтегазодобывающих регионах России и стран СНГ.",
        blockValueSecond: "Буровые системы верхнего привода являются высокотехнологичным и инновационным оборудованием. Именно поэтому, требования к сервису предъявляются самые высокие.",
        blockValueThird: "Компания ООО «СН-РУС СЕРВИС» готова обеспечить заказчикам высококачественные технические услуги для эффективного повышения своевременности, стабильности и безопасности бурения нефтяных скважин."
      })
      //- p dhfbdhfb
      +block({
        hasWrapper: true,
        type: "right",
        title: "Обслуживание систем верхнего привода",
        blockValueFirst: "За последние два года наша компания также накопила богатый опыт в обслуживании верхнего привода для (TPEC) DQ30, DQ40, DQ50, DQ70, DQ90; Цзинхун (JH) DQ70BS, DQ70BSQ, DQ50B, DQ50BQ, DQ40B, DQ40BQ, DQ40BT, DQ30B ; Canrig 6027, 8050, 1050, 1275; VARCO 10S, 9S, 11S, 11SA, 8S;",
        blockValueSecond: "Хунхуа (HH) DQ225DBZ, DQ315BZ, DQ450DBZ, DQ675DBZ и другие основные модели верхнего привода. Мы готовы предоставлять услуги по техническому обслуживанию для них."
      })
      //- p dhfbdhf

block modals
