mixin tech-services()
	section.section
		.container
			.section__wrapper
					.section__heading.block__title
						+icon("icon-figure", 24, 28)
						h2.title.title--h2.section__title Технологические услуги
					p.section__paragraph В отделе технического обслуживания ООО «СН-РУС СЕРВИС» в настоящее время работают 169 сотрудников и 53 сервисных инженера. Первоклассная техническая команда может предоставить пользователям лучшие решения для привода верхнего уровня.
					p.section__paragraph У нас есть проектный отдел в Ганьсу, проектный отдел в Синьцзяне, проектный отдел в Северном Шэньси и проектный отдел в Сычуани, а также большой склад готовой продукции и аксессуаров с достаточным запасом, чтобы предоставлять пользователям комплексное предпродажное, во время продаж и послепродажное обслуживание, придерживаясь наших первоначальных намерений и предоставляя проактивные услуги.